@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /* The font */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* The icon set */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    font-size: 1em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s background-color;
    color: inherit;
}

.button:hover {
    cursor: pointer;
}

.light-theme {
    background-color: #F8F9FA;
    color: #212529;
}

.light-theme .button, .light-theme #display-container {
    background-color: #E9ECEF;
    box-shadow: 1px 1px 3px #CED4DA;
}

.light-theme .button:hover {
    background-color: #DEE2E6;
}

.light-theme .button:active {
    background-color: #CED4DA;
}

.dark-theme {
    background-color: #212529;
    color: #F8F9FA;
}

.dark-theme .button, .dark-theme #display-container {
    background-color: #343A40;
    box-shadow: 1px 1px 3px #1f1f1f;
}

.dark-theme .button:hover {
    background-color: #495057;
}

.dark-theme .button:active {
    background-color: #6C757D;
}

#controller-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#display-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    height: calc(3em + 10px);
    transition: 0.3s background-color;
}

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    width: 60vw;
    padding: 10px;
    align-self: center;
}

.light-theme #equals {
    background-color: #42A5F5;
    color: #F8F9FA;
}

.light-theme #equals:hover {
    background-color: #64B5F6;
}

.light-theme #equals:active {
    background-color: #90CAF9;
}

.dark-theme #equals {
    background-color: #1565C0;
}

.dark-theme #equals:hover {
    background-color: #1976D2;
}

.dark-theme #equals:active {
    background-color: #1E88E5;
}